<p style="color: green"><%= notice %></p>

<style>
h1 {
  text-align: center;
}
</style>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<table border="1" class="pretty" style="margin: 0px auto;">
    <thead>
        <th><%= sortable "title"%></th>
        <th><%= sortable "rating"%></th>
        <th><%= sortable "release_date"%></th>
    </thead>
    <tbody>
      
      <% @movies.each do |movie| %>
        <tr>
          
          <td><%= link_to movie.title, movie %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.release_date %></td>
          
        </tr>
        <% end %> 
        
    </tbody>
</table>

<p style="text-align: center;"> <%= link_to "New movie", new_movie_path %> </p>

<div class="img-with-text">
    <img src="/app/assets/images/cat3.jfif" alt="cat 3" />
</div>

