<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div>

  <% sort_column = cookies[:sort_column] || 'title' %>
  <% sort_direction = cookies[:sort_direction] || 'asc' %>

  <%= link_to "Edit this movie", edit_movie_path(@movie) %> |
  <%= link_to "Back to Movies", movies_path(:sort => sort_column, :direction => sort_direction) %>

  <%= button_to "Destroy this movie", @movie, method: :delete %>
</div>

<div class="img-with-text">
    <img src="/app/assets/images/cat4.jfif" alt="cat 4" />
</div>
